<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Sign Up</title>
</head>
<body>
<div class="container text-center">
  <div>
    <h1>User Registration - Sign Up</h1>
  </div>
  <form th:action="@{/store/process_register}" th:object="${store}"
        method="post" style="max-width: 600px; margin: 0 auto;">
    <div class="m-3">
      <div class="form-group row">
        <label class="col-4 col-form-label">User Name: </label>
        <div class="col-8">
          <input type="text" th:field="*{userName}" class="form-control" required />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Password: </label>
        <div class="col-8">
          <input type="password" th:field="*{password}" class="form-control"
                 required minlength="6" maxlength="10"/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Confirm Password: </label>
        <div class="col-8">
          <input type="password" th:field="*{confirmPassword}" class="form-control"
                 required minlength="6" maxlength="10"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label">Name: </label>
        <div class="col-8">
          <input type="text" th:field="*{name}" class="form-control"
             required minlength="2" maxlength="100"/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Address: </label>
        <div class="col-8">
          <input type="text" th:field="*{address}" class="form-control"
                 required minlength="2" maxlength="100" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label">Phone Number: </label>
        <div class="col-8">
          <input type="text" th:field="*{phoneNumber}" class="form-control"
                 required minlength="7" maxlength="11" pattern="[0-9]{7,11}" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label">Email: </label>
        <div class="col-8">
          <input type="email" th:field="*{email}" class="form-control"
                 required maxlength="100" />
        </div>
      </div>

      <div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
        <button type="reset" class="btn btn-primary">Reset</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>